<a href="https://colab.research.google.com/github/arikaran007/python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
student = {'name':'ari','age':20,'courses':['maths','science']}
print(student)

{'name': 'ari', 'age': 20, 'courses': ['maths', 'science']}

In [8]:
print(student['age'])

20

In [9]:
print(student.get('phone'))

None

In [10]:
student.update({'name':'karn','phone':2435233})
print(student)

{'name': 'karn', 'age': 20, 'courses': ['maths', 'science'], 'phone': 2435233}

In [11]:
age = student.pop('age')
print(student)
print(age)

{'name': 'karn', 'courses': ['maths', 'science'], 'phone': 2435233}
20

In [12]:
print(len(student))
print(student.values())
print(student.keys())
print(student.items())

3
dict_values(['karn', ['maths', 'science'], 2435233])
dict_keys(['name', 'courses', 'phone'])
dict_items([('name', 'karn'), ('courses', ['maths', 'science']), ('phone', 2435233)])

In [15]:
for key,values in student.items():
  print(key,values)

name karn
courses ['maths', 'science']
phone 2435233