<a href="https://colab.research.google.com/github/arikaran007/python/blob/main/F_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_name = 'ari'
last_name = 'karan'

sentence = 'my name is {} {} and i am good'.format(first_name,last_name)
print(sentence)

my name is ari karan and i am good

In [ ]:

sentence = f'my name is {first_name} {last_name} '
print(sentence)

my name is ari karan

In [ ]:

sentence = f'my name is {first_name.upper()} {last_name.lower()} '
print(sentence)

my name is ARI karan

In [ ]:
person = {'name':'ari','age':20}

sentence = 'my name is {} and my age is {}'.format(person['name'],person['age'])
print(sentence)

my name is ari and my age is 20

In [ ]:
person = {'name':'ari','age':20}

sentence = f"my name is {person['name']} and my age is {person['age']}"
print(sentence)

my name is ari and my age is 20

In [ ]:
for n in range(1,5):
  value = f'the value is {n:03}'
  print(value)

the value is 001
the value is 002
the value is 003
the value is 004

In [ ]:
from datetime import datetime

birthday = datetime(2004,6,6)

sen = f'birthday date is {birthday}'
print(sen)

birthday date is 2004-06-06 00:00:00