<a href="https://colab.research.google.com/github/arikaran007/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello():
  print("welcome!")

hello()
hello()

welcome!
welcome!

In [ ]:
def func():
  return "hello everyone"

print(func().upper())

HELLO EVERYONE

In [ ]:
def func(greeting,name='ari'):
  return '{},{}'.format(greeting,name)

print(func("hi"))

hi,ari

In [ ]:
def func(greeting,name='ari'):
  return '{},{}'.format(greeting,name)

print(func("hi","karan"))

hi,karan

positional keyword argument

In [ ]:
def stu_info(*args,**kwargs):
  print(args)
  print(kwargs)

stu_info('math','science',name='ari',age=20)

('math', 'science')
{'name': 'ari', 'age': 20}

In [ ]:
def stu_info(*args,**kwargs):
  print(args)
  print(kwargs)

courses = ['math','science']
info = {'name':'ari','age':20}

stu_info(courses,info)

(['math', 'science'], {'name': 'ari', 'age': 20})
{}

In [ ]:
def stu_info(*args,**kwargs):
  print(args)
  print(kwargs)

courses = ['math','science']
info = {'name':'ari','age':20}

stu_info(*courses,**info)

('math', 'science')
{'name': 'ari', 'age': 20}

Example

In [ ]:
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
  return year % 4==0

def days_in_mon(year,month):
  if not 1<=month <=12:
    return "invalid"
  if month==2 and is_leap(year):
    return 29

  return month_days[month]

print(is_leap(2017))
print(days_in_mon(2017,1))

False
31