<a href="https://colab.research.google.com/github/arikaran007/python/blob/main/List_tuple_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**

In [13]:
courses = ['tamil','english','maths']
print(courses)
print(len(courses))

['tamil', 'english', 'maths']
3

In [10]:
print(courses[1])
print(courses[-1])
print(courses[1:])
print(courses)

english
science
['english', 'maths', 'science', 'science', 'science', 'science']
['tamil', 'english', 'maths', 'science', 'science', 'science', 'science']

In [11]:
courses.append('social')
print(courses)

['tamil', 'english', 'maths', 'science', 'science', 'science', 'science', 'social']

In [12]:
courses.insert(0,'computer')
print(courses)

['computer', 'tamil', 'english', 'maths', 'science', 'science', 'science', 'science', 'social']

In [20]:
courses = ['tamil','english','maths']
courses1 = ['science','social']

courses.extend(courses1)
print(courses)

['tamil', 'english', 'maths', 'science', 'social']

In [17]:
print(courses)

['tamil', 'english', 'science', 'social']

In [18]:
courses.remove('english')
print(courses)

['tamil', 'science', 'social']

In [19]:
popped = courses.pop()
print(popped)
print(courses)

social
['tamil', 'science']

In [22]:
courses = ['tamil','english','maths','science','social']

courses.reverse()
print(courses)

['social', 'science', 'maths', 'english', 'tamil']

In [24]:
courses.sort()
print(courses)

['english', 'maths', 'science', 'social', 'tamil']

In [27]:
courses.sort(reverse=True)
print(courses)

['tamil', 'social', 'science', 'maths', 'english']

In [26]:
sorted_list = sorted(courses)
print(sorted_list)

['english', 'maths', 'science', 'social', 'tamil']

In [28]:
print(courses.index('maths'))

3

In [29]:
print('art' in courses)

False

In [33]:
for index,course in enumerate(courses,start=1):
  print(index,course)

1 tamil
2 social
3 science
4 maths
5 english

In [34]:
courses_str = ', '.join(courses)
print(courses_str)

tamil, social, science, maths, english

In [35]:
courses_str = ' - '.join(courses)
new_list = courses_str.split(' - ')
print(courses_str)
print(new_list)

tamil - social - science - maths - english
['tamil', 'social', 'science', 'maths', 'english']

#mutuable

In [37]:
list1=['tamil','english','maths','science','social']
list2 = list1

print(list1)
print(list2)

list1[0] = 'computer'

print(list1)
print(list2)

['tamil', 'english', 'maths', 'science', 'social']
['tamil', 'english', 'maths', 'science', 'social']
['computer', 'english', 'maths', 'science', 'social']
['computer', 'english', 'maths', 'science', 'social']

#immutable tuple

In [38]:
tuple1=('tamil','english','maths','science','social')
tuple2 = tuple1

print(tuple1)
print(tuple2)

tuple1[0] = 'computer'

print(tuple1)
print(tuple2)

('tamil', 'english', 'maths', 'science', 'social')
('tamil', 'english', 'maths', 'science', 'social')

TypeError: ignored

#set

unordered
not allow duplicate

In [42]:
courses={'tamil','english','maths','science','social'}
print(courses)

{'science', 'social', 'english', 'maths', 'tamil'}

In [43]:
courses={'tamil','english','maths','science','social','maths'}
print(courses)

{'science', 'social', 'english', 'maths', 'tamil'}

In [44]:
courses1={'tamil','english','maths'}
courses2={'maths','science','social'}

print(courses1.intersection(courses2))

{'maths'}

In [45]:
print(courses1.union(courses2))

{'science', 'social', 'english', 'maths', 'tamil'}