<a href="https://colab.research.google.com/github/arikaran007/python/blob/main/Sorting_list_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
li = [4,6,3,8,1,9,2,5,7]

s_li = sorted(li)
print(s_li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
s_li = sorted(li,reverse  = True)
print(s_li)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
li.sort()

In [ ]:
tup = (4,6,3,8,1,9,2,5,7)

s_tup = sorted(tup)
print(s_tup)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
li = [-6,-5,-4,1,2,3]
s_li = sorted(li)
print(s_li)

[-6, -5, -4, 1, 2, 3]

In [ ]:
s_li = sorted(li ,key=abs)
print(s_li)

[1, 2, 3, -4, -5, -6]

In [ ]:
class Employee():
  def __init__(self,name,age,salary):
    self.name=name
    self.age = age
    self.salary = salary

  def __repr__(self):
    return '{},{},{}'.format(self.name,self.age,self.salary)

e1 = Employee('ari',23,290439390)
e2 = Employee('kar',21,134567803)
e3 = Employee('mug',12,4564798693)

e_li  = [e1,e2,e3]

def e_sort(emp):
  return emp.salary

s_emp = sorted(e_li,key=e_sort)
print(s_emp)

[kar,21,134567803, ari,23,290439390, mug,12,4564798693]

In [ ]:
class Employee():
  def __init__(self,name,age,salary):
    self.name=name
    self.age = age
    self.salary = salary

  def __repr__(self):
    return '{},{},{}'.format(self.name,self.age,self.salary)

e1 = Employee('ari',23,290439390)
e2 = Employee('kar',21,134567803)
e3 = Employee('mug',12,4564798693)

e_li  = [e1,e2,e3]



s_emp = sorted(e_li,key=lambda e:e.salary)
print(s_emp)

[kar,21,134567803, ari,23,290439390, mug,12,4564798693]

In [ ]:
class Employee():
  def __init__(self,name,age,salary):
    self.name=name
    self.age = age
    self.salary = salary

  def __repr__(self):
    return '{},{},{}'.format(self.name,self.age,self.salary)

e1 = Employee('ari',23,290439390)
e2 = Employee('kar',21,134567803)
e3 = Employee('mug',12,4564798693)

e_li  = [e1,e2,e3]
from operator import attrgetter


s_emp = sorted(e_li,key=attrgetter('age'))
print(s_emp)

[mug,12,4564798693, kar,21,134567803, ari,23,290439390]